<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>yurflix</title>
        <!-- link fontawesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
        <!-- Link AXIOS/AJAX -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
        <!-- Link Vue -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
        <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>

      <div id="app" class="container">
        <header>
          <div class="logo">
            <img src="img/logo.png" alt="Yurflix logo">
          </div>
          <div class="filter_content">
            <ul class="filter_content_list">
              <li v-for="(what, index) in whatSelect" :class="(index == indexSelected) ? 'clicked' : ''" @click="showWhat(index)">{{what}}</li>
            </ul>
          </div>
          <div class="nav">
            <input type="text" v-model="query" @keyup.enter="searchGlobal" placeholder=" Ricerca un titolo" id="search" name="search">
            <label for="search"><i class="fas fa-search"></i></label>
            <img src="img/foto_profilo.jpg" alt="foto_profilo">
          </div>
        </header>
        <!-- / header -->

        <main>
          <div class="content_box" v-for="film in all" v-if="all">
            <!-- contenitore per immagine copertina -->
            <div class="poster">
              <!-- per inserire la stessa immagine tutte le volte che non abbiamo la copertina api, yutilizziamo un v-if/v-else -->
              <img v-if="!film.poster_path" src="img\noposter.jpg" :alt="film.original_title">
              <img v-else :src="'https://image.tmdb.org/t/p/'+'w342'+film.poster_path" :alt="film.original_title">
            </div>
            <!-- fine contenitore poster -->

            <!-- inizio contenitore info  -->
            <div class="about">
              <!-- le key delle due chiamate hanno valori simili ma alcuni diversi, con  or facciamo in modo che li stampi sempre in entrambi i casi  -->
              <img v-if="film.backdrop_path" :src="'https://image.tmdb.org/t/p/'+'w342'+film.backdrop_path" alt="">
              <div class="title"><h2>{{film.title || film.name}}</h2></div>
              <div class="o_title">Titolo originale: <span>{{film.original_title || film.original_name}}</span></div>

              <div class="about_icons">

                <img class="img_lang" :src="'img/'+film.original_language+'.png'" alt="">

                <ul class="star_vote">
                  <!-- per le stelle viene utilizzato un v-for di lunghezza 5 (verranno stampate 5 stelle grige di base). con v-bind sulla classe coloriamo di giallo un numero di stelle pari al valore di vote_star, inserito nel then. la condizione fa si che iniziano a colorarsi dalla prima  -->
                  <li v-for="n in 5" :class="(film.vote_star >= n) ? 'yellow' : ''"><i class="fas fa-star"></i></li>
                </ul>
                <div class="add_favorite"><i @click="saveFilm(film)" class="fas fa-plus-circle"></i></div>
              </div>
              <!-- fine box about_icons -->

              <div class="overview" v-if="!film.overview">Questo film è talmente famoso che non ha bisogno di ulteriori informazioni...</div>
              <div class="overview" v-else>{{film.overview}}</div>
            </div>
            <!-- fine contenitore info about -->

          </div>
          <!-- <div class="content_box">
            <p class="title">title</p>
            <p class="o_title">original_title</p>
            <p class="vote">vote_average</p>
            <p class="lan">original_language</p>
          </div> -->
        </main>
        <!-- / main -->

      </div>
      <!-- / container principale -->

        <script src="js/script.js" charset="utf-8"></script>
    </body>
</html>
